{% extends "base.html" %}
{% block content %}
{% load static %}


<main class="container-fluid">
    
    <section class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">
            <form method="post">
            {% csrf_token %}

          <div class="card">
              <div class="card-header bg-warning text-center">
                <h3 class="titulo_ingreso animate__animated animate__jackInTheBox" >Agregar Medicamento</h3>
              </div>
              <div class="card-body">
                <div id="erroresdiv"></div>
                <div class="form-group mb-4">                 
                  
                  {{form.Nombre}}
                  {{form.Nombre.errores}}                  
                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.Marca}}
                  {{form.Marca.errores}}                  
                  <div class="invalid-feedback"></div>
                </div>

                <div class="form-group mb-4">                  
                  {{form.Laboratorio}}
                  {{form.Laboratorio.errores}}                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.Cantidad_de_comprimidos}}
                  {{form.Cantidad_de_comprimidos.errores}}                
                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.Gramaje}}
                  {{form.Gramaje.errores}}                
                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.id_Tipo_medicamento}}
                  {{form.id_Tipo_medicamento.errores}}                
                  
                </div>


              
              </div>
              <div class="card-footer">
                <div class="float-left">
                  <input id="submit" type="submit" class="btn btn-primary" value="Ingresar Medicamento" >                   
              </div>
              <div class="float-right">
                  <button type="button" id="limpiar-btn" class="btn btn-success">Limpiar</button>
              </div>
              </div>
            </div>

          </div>
          </form>             


            </div>
        </div>
    </section>
</main>

<script src={% static 'medicamentos/js/init.js' %}></script>
{% endblock %}