{% extends "base.html" %}
{% block content %}
{% load static %}


<main class="container-fluid">
    <section class="bg-dark p-5 bg-gradient text-center text-white">
        <h1>Info Medicamento</h1>
    </section>
    <section class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-6 col-sm-12 mx-auto">

                 <form method="post">
            {% csrf_token %}

          <div class="card">
              <div class="card-header bg-warning text-center">
                <h3 class="titulo_ingreso animate__animated animate__jackInTheBox" >Info Medicamento {{medicamento_id}}</h3>
              </div>
              <div class="card-body">
                <div id="erroresdiv"></div>
                <div class="form-group mb-4">                 
                  
                  {{form.Formula}}
                  {{form.Formula.errores}}                  
                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.Advertencias}}
                  {{form.Advertencias.errores}}                  
                  <div class="invalid-feedback"></div>
                </div>

                <div class="form-group mb-4">                  
                  {{form.Indicaciones}}
                  {{form.Indicaciones.errores}}                  
                </div>

                <div class="form-group mb-4">                 
                  {{form.Contra_Indicaciones}}
                  {{form.Contra_Indicaciones.errores}}                
                  
                </div>

               <div class="form-check form-switch">
                {{form.Bioequivalente}}
                  {{form.Bioequivalente.errores}}   
  
                <label class="form-check-label" for="bioequivalente-chkbox">Bioequivalente</label> 
</div>


              
              </div>
              <div class="card-footer">
                <div class="float-left">
                  <input id="submit" type="submit" class="btn btn-primary" value="Ingresar Tipo de medicamento" >                   
              </div>
              <div class="float-right">
                  <button type="button" id="limpiar-btn" class="btn btn-success">Limpiar</button>
              </div>
              </div>
            </div>

          </div>
          </form>       

            </div>
        </div>
    </section>
</main>


{% endblock %}