{% extends "base.html" %}
{% block content %}
{% load static %}

<main class="container-fluid bg-white">
    <!-- titulo del modulo -->
    <h1>Listado de medicamentos</h1>
    <div class="row bg-white">
        <!-- ventana izquierda -->
        <div class="col-lg-4 col-md-6 col-sm-6 border border-dark rounded">
            <h1>Configuracion</h1>

            <form method="post">
                {% csrf_token %}

                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <h3 class="titulo_ingreso animate__animated animate__jackInTheBox">Modificar Medicamento</h3>
                    </div>
                    <div class="card-body">
                        <div id="erroresdiv"></div>
                        <div class="form-group mb-4">

                            {{form.Nombre}}
                            {{form.Nombre.errores}}

                        </div>

                        <div class="form-group mb-4">
                            {{form.Marca}}
                            {{form.Marca.errores}}
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="form-group mb-4">
                            {{form.Laboratorio}}
                            {{form.Laboratorio.errores}}
                        </div>

                        <div class="form-group mb-4">
                            {{form.Cantidad_de_comprimidos}}
                            {{form.Cantidad_de_comprimidos.errores}}

                        </div>

                        <div class="form-group mb-4">
                            {{form.Gramaje}}
                            {{form.Gramaje.errores}}

                        </div>

                        <div class="form-group mb-4">
                            {{form.id_Tipo_medicamento}}
                            {{form.id_Tipo_medicamento.errores}}

                        </div>



                    </div>
                    <div class="card-footer">
                        <div class="float-left">
                            <input id="submit" type="submit" class="btn btn-primary" value="Modificar Medicamento">
                        </div>
                        <div class="float-right">
                            <button type="button" id="limpiar-btn" class="btn btn-success">Limpiar</button>
                        </div>
                    </div>
                </div>

        </div>
        </form>

    <!-- ventana primeros dos parametros uno al lado de otro -->

   


    <div class="col-lg-8 col-md-6 col-sm-6 border border-dark rounded ">
        <h1>datos</h1>
        <table class="table table-striped">
            <thead class="thead">
                <tr class="bg-success">
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Laboratorio</th>
                    <th scope="col">Cantidad Comprimidos</th>
                    <th scope="col">Gramaje</th>
                    <th scope="col">Tipo Medicamento</th>
                    <th scope="col">Habilitado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for m in medicamentos %}
                <tr class="text-center">
                    <th> {{m.Nombre}}</th>
                    <th> {{m.Marca}}</th>
                    <th> {{m.Laboratorio}}</th>
                    <th> {{m.Cantidad_de_comprimidos}}</th>
                    <th> {{m.Gramaje}}</th>
                    <th> {{m.id_Tipo_medicamento}}</th>
                    {% if m.Habilitado %}
                    <th>Si</th>
                    {% else %}
                    <th>No</th>
                    {% endif %}
                    <th><a href={% url 'modificar_medicamento' m.pk %} class="btn btn-success">Modificar</a></th>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>



    
    
    
</main>


{% endblock %}